<% include partials/header.ejs %>
<%# Atakan Aytar 301240597 2/4/2022 %>
<link href="/stylesheets/about.css" rel="stylesheet">

<body>
    <div class="content">
        <div class="image">
          <img src="/images/mypic.jpg">
        </div>
        <div class="text1">I am Atakan Aytar.At 2021 I graduated from Sabanci University with Bachelor at Computer Science and Engineering.Since January 2022 I study Artificial Intelligence and Software Engineering at the centennial college. I am comfortable with python  , c++ and java . On my free time i like to take pictures.I am a hardworker and i will finish a project given time.I am also extremely quick learner.  </div>
        <div class="text1"><a href="https://drive.google.com/drive/folders/1ycX8QeRnn1b2SOk9Tto4JLG1J3T_5eFk?usp=sharing" class="btn btn-primary" role="button">Link to my CV</a></div>
      </div>
   

</body>


<% include partials/footer.ejs %> 