<% include partials/header.ejs %>
<%# Atakan Aytar 301240597 2/4/2022 %>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="/stylesheets/home.css" rel="stylesheet">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<body>
  <%# For hero image %>
  <div class="hero-image">
    
  </div>

  <%# For the part under the image with two buttons  %>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to My Profile Page</h1>
      <p class="lead">In this website you can learn about more about me and my work in depth. What this site will try to do is it will try to show you my professional skill set in a honest manner.</p>
      <a href="/Services" class="btn btn-dark" role="button">Services</a>
      <a href="/About" class="btn btn-dark" role="button">About</a>
    </div>
  </div>
</body>
<% include partials/footer.ejs %> 