<% include partials/header.ejs %>
<%# Atakan Aytar 301240597 2/4/2022 %>

<%# Basic Cards %>
<div class="card" style="width: 25rem;">
    <img src="/images/exo.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">I have worked on a exoskeleton that could start and stop with eeg signals for a compettion in turkey.My main responsibilty was to analyze the time series data and detect when the user wanted to stop.We made national news but didnt got a high ranking</p>
    </div>
  </div>
  <div class="card" style="width: 25rem;">
    <img src="/images/horse.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">I tried to build a machine learning framework at the span of 3 months to predict horse racing results.</p>
    </div>
  </div>
  <div class="card" style="width: 25rem;">
    <img src="/images/qa.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">This was my gradation project we used an approach called combinatorial interaction testing which focuses on the interactions between parameters . We develop diffrent algorithmns and implemented them to create test cases after that we applied them to real software and studied the results.</p>
    </div>
    
  </div>

<% include partials/footer.ejs %>