<% include partials/header.ejs %>
<%# Atakan Aytar 301240597 2/4/2022 %>


<%# Basic Cards %>
<div class="card" style="width: 25rem;">
    <img src="/images/webdev.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">I offer to develop your website with django or js. I have experience mongodb , postgresql and mysql</p>
    </div>
  </div>
  <div class="card" style="width: 25rem;">
    <img src="/images/python.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">I can develop python applications.I have been coding in python for the last 4 years.</p>
    </div>
  </div>
  <div class="card" style="width: 25rem;">
    <img src="/images/c-plus-plus-developer.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">I can develop c++ applications.</p>
    </div>
    
  </div>

  <div class="card" style="width: 25rem;">
    <img src="/images/machine_learning.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">I can develop basic machine learning / deep learnig models for easier problems with data pipelines..</p>
    </div>
    
  </div>

<% include partials/footer.ejs %>